button {
  padding: 5px 15px;
  margin-left: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #61dafb;
  border: 2px solid #61dafb;
  border-radius: 5px;
  transition: color .3s, background-color .3s;
}

button:hover {
  cursor: pointer;
  color: #61dafb;
  background-color: #fff;
}